.ct-chart .ct-label {
  display: block;
  width: 100%;
  height: 100%;
  fill: rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.9);
  font-size: 0.75rem;
  text-align: left; }
.ct-chart .ct-label.ct-horizontal {
  display: block;
  width: 100%;
  height: 100%;
  fill: rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.9);
  font-size: 0.75rem;
  text-align: center; }
.ct-chart .ct-label.ct-vertical {
  display: block;
  width: 100%;
  height: 100%;
  fill: rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.9);
  font-size: 0.75rem;
  text-align: right; }
.ct-chart .ct-grid {
  stroke: rgba(0, 0, 0, 0.8);
  stroke-width: 1px;
  stroke-dasharray: 2px; }
.ct-chart .ct-point {
  stroke-width: 10px;
  stroke-linecap: round; }
.ct-chart .ct-line {
  fill: none;
  stroke-width: 4px; }
.ct-chart .ct-area {
  stroke: none;
  fill-opacity: 0.1; }
.ct-chart .ct-bar {
  fill: none;
  stroke-width: 100px; }
.ct-chart .ct-slice.ct-donut {
  fill: none;
  stroke-width: 60px; }
.ct-chart .ct-series.ct-series-a .ct-point, .ct-chart .ct-series.ct-series-a .ct-line, .ct-chart .ct-series.ct-series-a .ct-bar, .ct-chart .ct-series.ct-series-a .ct-slice.ct-donut {
  stroke: #02A5D6; }
.ct-chart .ct-series.ct-series-a .ct-slice:not(.ct-donut), .ct-chart .ct-series.ct-series-a .ct-area {
  fill: #02A5D6; }
.ct-chart .ct-series.ct-series-b .ct-point, .ct-chart .ct-series.ct-series-b .ct-line, .ct-chart .ct-series.ct-series-b .ct-bar, .ct-chart .ct-series.ct-series-b .ct-slice.ct-donut {
  stroke: #F05B4F; }
.ct-chart .ct-series.ct-series-b .ct-slice:not(.ct-donut), .ct-chart .ct-series.ct-series-b .ct-area {
  fill: #F05B4F; }
.ct-chart .ct-series.ct-series-c .ct-point, .ct-chart .ct-series.ct-series-c .ct-line, .ct-chart .ct-series.ct-series-c .ct-bar, .ct-chart .ct-series.ct-series-c .ct-slice.ct-donut {
  stroke: #F4C63D; }
.ct-chart .ct-series.ct-series-c .ct-slice:not(.ct-donut), .ct-chart .ct-series.ct-series-c .ct-area {
  fill: #F4C63D; }
.ct-chart .ct-series.ct-series-d .ct-point, .ct-chart .ct-series.ct-series-d .ct-line, .ct-chart .ct-series.ct-series-d .ct-bar, .ct-chart .ct-series.ct-series-d .ct-slice.ct-donut {
  stroke: #453D3F; }
.ct-chart .ct-series.ct-series-d .ct-slice:not(.ct-donut), .ct-chart .ct-series.ct-series-d .ct-area {
  fill: #453D3F; }
.ct-chart.ct-square {
  display: block;
  position: relative;
  width: 100%; }
  .ct-chart.ct-square:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 100%; }
  .ct-chart.ct-square:after {
    content: "";
    display: table;
    clear: both; }
  .ct-chart.ct-square > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
.ct-chart.ct-minor-second {
  display: block;
  position: relative;
  width: 100%; }
  .ct-chart.ct-minor-second:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 93.75%; }
  .ct-chart.ct-minor-second:after {
    content: "";
    display: table;
    clear: both; }
  .ct-chart.ct-minor-second > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
.ct-chart.ct-major-second {
  display: block;
  position: relative;
  width: 100%; }
  .ct-chart.ct-major-second:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 88.88889%; }
  .ct-chart.ct-major-second:after {
    content: "";
    display: table;
    clear: both; }
  .ct-chart.ct-major-second > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
.ct-chart.ct-minor-third {
  display: block;
  position: relative;
  width: 100%; }
  .ct-chart.ct-minor-third:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 83.33333%; }
  .ct-chart.ct-minor-third:after {
    content: "";
    display: table;
    clear: both; }
  .ct-chart.ct-minor-third > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
.ct-chart.ct-major-third {
  display: block;
  position: relative;
  width: 100%; }
  .ct-chart.ct-major-third:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 80%; }
  .ct-chart.ct-major-third:after {
    content: "";
    display: table;
    clear: both; }
  .ct-chart.ct-major-third > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
.ct-chart.ct-perfect-fourth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-chart.ct-perfect-fourth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 75%; }
  .ct-chart.ct-perfect-fourth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-chart.ct-perfect-fourth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
.ct-chart.ct-perfect-fifth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-chart.ct-perfect-fifth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 66.66667%; }
  .ct-chart.ct-perfect-fifth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-chart.ct-perfect-fifth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
.ct-chart.ct-minor-sixth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-chart.ct-minor-sixth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 62.5%; }
  .ct-chart.ct-minor-sixth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-chart.ct-minor-sixth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
.ct-chart.ct-golden-section {
  display: block;
  position: relative;
  width: 100%; }
  .ct-chart.ct-golden-section:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 61.8047%; }
  .ct-chart.ct-golden-section:after {
    content: "";
    display: table;
    clear: both; }
  .ct-chart.ct-golden-section > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
.ct-chart.ct-major-sixth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-chart.ct-major-sixth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 60%; }
  .ct-chart.ct-major-sixth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-chart.ct-major-sixth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
.ct-chart.ct-minor-seventh {
  display: block;
  position: relative;
  width: 100%; }
  .ct-chart.ct-minor-seventh:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 56.25%; }
  .ct-chart.ct-minor-seventh:after {
    content: "";
    display: table;
    clear: both; }
  .ct-chart.ct-minor-seventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
.ct-chart.ct-major-seventh {
  display: block;
  position: relative;
  width: 100%; }
  .ct-chart.ct-major-seventh:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 53.33333%; }
  .ct-chart.ct-major-seventh:after {
    content: "";
    display: table;
    clear: both; }
  .ct-chart.ct-major-seventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
.ct-chart.ct-octave {
  display: block;
  position: relative;
  width: 100%; }
  .ct-chart.ct-octave:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 50%; }
  .ct-chart.ct-octave:after {
    content: "";
    display: table;
    clear: both; }
  .ct-chart.ct-octave > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
.ct-chart.ct-major-tenth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-chart.ct-major-tenth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 40%; }
  .ct-chart.ct-major-tenth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-chart.ct-major-tenth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
.ct-chart.ct-major-eleventh {
  display: block;
  position: relative;
  width: 100%; }
  .ct-chart.ct-major-eleventh:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 37.5%; }
  .ct-chart.ct-major-eleventh:after {
    content: "";
    display: table;
    clear: both; }
  .ct-chart.ct-major-eleventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
.ct-chart.ct-major-twelfth {
  display: block;
  position: relative;
  width: 100%; }
  .ct-chart.ct-major-twelfth:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 33.33333%; }
  .ct-chart.ct-major-twelfth:after {
    content: "";
    display: table;
    clear: both; }
  .ct-chart.ct-major-twelfth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
.ct-chart.ct-double-octave {
  display: block;
  position: relative;
  width: 100%; }
  .ct-chart.ct-double-octave:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 25%; }
  .ct-chart.ct-double-octave:after {
    content: "";
    display: table;
    clear: both; }
  .ct-chart.ct-double-octave > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0; }

/* variables */
/* universal */
body, html {
  letter-spacing: 1.3px;
  overflow: hidden; }

body {
  font: 100% / 1.5 Arial; }

* {
  margin: 0;
  padding: 0; }

/* navbar */
.navbar {
  z-index: 9999;
  position: fixed;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.8);
  border: none;
  border-bottom: 1px solid #DBDADA;
  margin-bottom: 0;
  border-radius: 0; }
  .navbar .navbar-brand {
    text-transform: uppercase; }
  .navbar li a {
    color: #8D8A8A; }

/* parallax */
.parallax {
  /*height: 500px; fallback for older browsers */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
  margin-bottom: 0; }

.parallax__group {
  position: relative;
  height: 500px;
  /* fallback for older browsers */
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(0.7);
  transform: translateZ(90px) scale(0.7);
  z-index: 1; }

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4; }

.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3; }

.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2; }

/* demo styles ----------------------------------- */
.parallax {
  font-size: 200%; }

/* centre the content in the parallax layers */
.title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* style the groups ------------------------------- */
#group1 {
  z-index: 5;
  /* slide over group 2 */ }

#group1 .parallax__layer--base {
  background: white; }

#group2 {
  z-index: 3;
  /* slide under groups 1 and 3 */ }

#group2 #imageswap {
  background-size: 100% 100%;
  background-repeat: no-repeat; }

#group3 {
  z-index: 4;
  /* slide over group 2 and 4 */ }

#group3 .parallax__layer--base {
  background: white; }

/* Search Page */
#location {
  width: 40vw; }

#labels {
  text-align: center; }

#switcharoo {
  text-align: center;
  height: 100px; }

.result-left {
  float: left; }

.result-right {
  float: right; }

#go-down {
  /*keep it within parallax group*/
  margin: auto;
  position: absolute;
  left: 0;
  right: 0; }

/* Details Page */
#go-up {
  text-align: center;
  margin-top: 75px; }

#details {
  /* overflow: scroll; */
  overflow-y: auto;
  height: 80vh;
  margin-top: 100px; }
  #details .heads {
    border-bottom: 1px solid #333333; }
  #details .hovertest {
    cursor: default; }
  #details .hoversum {
    cursor: default; }
  #details #lefter {
    float: left;
    position: absolute;
    display: block;
    margin-top: 340px; }

/* About and Contact Page */
.conbout {
  margin-top: 100px; }
  .conbout h1 {
    padding-bottom: 20px; }
  .conbout h1, .conbout h5 {
    text-align: center; }
  .conbout p {
    line-height: 2;
    font-size: 1.4em;
    letter-spacing: 1.4px; }

/*# sourceMappingURL=output.css.map */
